
.DS_Store
experiments/v1/stims/.DS_Store
experiments/v1/.DS_Store
experiments/v1/.DS_Store
.DS_Store
.Rproj.user
analysis/.Rhistory
analysis/v1a/data/processed/prolific_export_67883d8fbfe27e2157999d3b.csv
analysis/v1a/data/processed/kitty-act-v1a-alldata.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-15_18h23.34.254.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-15_18h24.42.214.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-15_18h30.19.615.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-15_23h23.35.758.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-15_23h23.59.274.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_08h16.23.686.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h12.25.572.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h13.58.76.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h15.06.173.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h15.08.829.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h18.29.266.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_16h27.12.917.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_17h17.03.513.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h13.04.373.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h15.52.168.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h15.57.453.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h16.00.641.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h16.06.357.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h17.21.293.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h17.26.271.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h19.02.241.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h19.06.208.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h26.16.298.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h26.55.664.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h12.24.241.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h12.42.191.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h13.25.79.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h13.57.986.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h14.41.620.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h14.53.647.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h15.22.298.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.16.246.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.25.584.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.30.47.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.42.616.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.44.950.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h16.55.915.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h17.33.332.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h17.49.536.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h18.21.877.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h19.40.318.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h19.41.540.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h19.59.163.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h20.03.690.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h20.03.777.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h20.30.266.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h22.31.223.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h22.42.605.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h26.33.428.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h31.38.208.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h41.46.818.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h53.58.663.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_19h54.37.168.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-17_00h18.35.811.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_17h37.14.843.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_18h38.07.814.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_20h41.48.826.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_20h50.50.317.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-16_20h55.15.329.csv
analysis/v1a/data/processed/kitty-act-v1a_January 18, 2025_18.20.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-18_19h07.51.319.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-20_13h42.21.860.csv
analysis/v1a/data/raw/kitty-act-v1a_PARTICIPANT_SESSION_2025-01-20_15h28.22.683.csv
